.timeline {
  width: 100%;
  display: flex;
}

.cursorEquivalent {
  height: 20px;
}

.trackControl {
  grid-column-start: info;
  grid-column-end: contents;
  background-color: #2b2b29;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.leftColumn {
  flex: 1;
  min-width: 0;
  overflow: scroll;
}

.cursor {
  background-color: red;
  height: 20px;
}

.handle {
  width: 3px;
  background-color: black;
  height: 100%;
  position: relative;
  z-index: 2;
}

.tracks {
  width: 100%;
}

.track {
  position: relative;
  background-color: blue;
  margin-bottom: 10px;
}
